.Categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Button {
    background-color: white;
    border: none;
    color: #F15A24;
    font-weight: bold;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    transition-duration: 200ms;
    font-family: 'Press Start 2P', cursive;
}

.Button:hover {
    transform: scale(1.1);
}